body{
  background-image: url(./264x264.jpg);
  background-size:cover;
}
#app {
  background-color: white;;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width:40%; 
  /* height:80%; */
  margin:auto;
  box-shadow: 0px 0px 6px pink;
  padding:5em 2em;
  justify-content: center;
  margin-top:5em;
  transition: all 300ms ease;

}
h1{
  color:pink;
}

#text-area{
  height:30vh;; 
  width:95%; 
  font-size: large;
  display:block;
  margin:auto;
  border:2px solid pink;
  border-radius: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(130, 130, 130);
  font-weight: bold;
  outline: none;
}
#convert-btn{
  outline: none;
  width:95%;
  transition: all 300ms ease;
  margin-top:1rem;
  background: linear-gradient(to left, pink, rgb(255, 124, 146));
  border-radius:.27em; 
  border:none;
  font-size:3.8vh; 
  padding: .3em ;
  color:whitesmoke; 
  cursor:pointer; 
  /* box-shadow: 0 0 2px black; */

}
#convert-btn:hover{
   background: linear-gradient(to right, pink, rgb(255, 124, 146));
}


@media(max-width:700px){
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    width:85%; 
    /* height:80%; */
    margin:auto;
    box-shadow: 0px 0px 8px pink;
    padding:2em 1em;
    justify-content: center;
    margin-top:3em;
  
  }
  h1{
    color:pink;
  }
  
  #text-area{
    height:50vh; 
    width:90%; 
    font-size: large;
    display:block;
    margin:auto;
    border:2px solid pink;
  }
  #convert-btn{
    width:90%;
    margin-top:1rem;
    background-color:pink; 
    border-radius:.27em; 
    border:none;
    font-size:2.8vh; 
    /* padding: .3em ; */
    color:whitesmoke; 
    cursor:pointer; 
    /* box-shadow: 0 0 2px black; */
    transition: all 300ms ease;
  
  }
  #convert-btn:hover{
    /* font-size:2.8vh;  */
  }
  
  
  
  
}
